.weatherResultContainer {
    background: var(--color-white);
    min-width: 310px;
    min-height: 500px;
}

.cityName {
    font-size: 32px;
}

.cityName sup {
    font-size: 18px;
}

.largeItem {
    font-size: 42px;
}

.forecastContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.forecastItem {
    border: 2px solid var(--color-grey);
}
