.weatherResultContainer {
    background: var(--color-white);
    border: 2px solid var(--color-grey);
    min-width: 310px;
    min-height: 500px;
}

.cityName {
    font-size: 32px;
}

.cityName sup {
    font-size: 18px;
}

.largeItem {
    font-size: 42px;
}

.forecastContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.forecastItem {
    border: 2px solid var(--color-grey);
}

@media screen and (max-width: 630px) {
    .forecastContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .forecastContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
