.button {
    background: var(--color-black);
    color: var(--color-white) !important;
    border: none;
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
}

button:disabled:hover {
    cursor: initial;
    box-shadow: 3px 3px 0px var(--color-grey);
}

.button:hover {
    box-shadow: 5px 5px 0px var(--color-grey);
}

.button:active {
    transform: translateY(4px);
}
