.textInput {
    font-size: 22px;
    border: none;
    border: 2px solid var(--color-white);
    width: 90%;
}

.hideLabel {
    visibility: hidden;
}

.error {
    border: 2px solid var(--color-error);
}

.errorType {
    margin-top: 0.25em;
    display: block;
}

.textInput:hover {
    box-shadow: 5px 5px 0px var(--color-grey);
}

.textInput::-webkit-input-placeholder {
    color: var(--color-light-grey);
}
.textInput::-moz-placeholder {
    color: var(--color-light-grey);
}
.textInput:-moz-placeholder {
    color: var(--color-light-grey);
}
.textInput:-ms-input-placeholder {
    color: var(--color-light-grey);
}
