:root {
    --color-white: #ebe8e2;
    --color-black: #111111;
    --color-grey: #979797;
    --color-light-grey: #c5c5c5;
}

p {
    font-size: 22px;
    margin: 0;
}

a {
    color: #61dafb;
}

/* general */
.br4 {
    border-radius: 4px;
}

.cp {
    cursor: pointer;
}

.t2 {
    transition: all 0.2s;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

/* layout */
.dfr {
    display: flex;
    flex-direction: row;
}

.dfrr {
    display: flex;
    flex-direction: row-reverse;
}

.dfc {
    display: flex;
    flex-direction: column;
}

.aic {
    align-items: center;
}

.aie {
    align-items: flex-end;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: flex-end;
}

/* margin */
.mn {
    margin: 0;
}

.ms {
    margin: 0.25em;
}

.mm {
    margin: 0.5em;
}

.ml {
    margin: 0.75em;
}

.mbs {
    margin-bottom: 0.25em;
}

.mbm {
    margin-bottom: 0.5em;
}

.mbl {
    margin-bottom: 0.75em;
}

.mbel {
    margin-bottom: 1.75em;
}

.mrs {
    margin-right: 0.25em;
}

.mrm {
    margin-right: 0.5em;
}

.mrl {
    margin-right: 0.75em;
}

/* padding */
.ps {
    padding: 0.25em;
}

.pm {
    padding: 0.5em;
}

.pl {
    padding: 0.75em;
}
